<div class="card-container">
  <!-- Personel Kartları -->
  <div class="content-card" *ngFor="let person of personnelList">
    <div class="personnel-image">
      <img [src]="person.photoUrl" alt="Personnel Photo" width="240" height="128" />
    </div>
    <div class="personnel-info">
      <h3 class="personnel-name">{{ person.name }}</h3>
      <p class="personnel-title">{{ person.title }}</p>
    </div>
    <div>
      <button class="btn" (click)="openDetails(person)">Daha Fazla</button>
    </div>
  </div>
</div>

<!-- Arkaplan ve Detay Kutusu -->
<div *ngIf="isCardVisible">
  <div class="modal-backdrop" (click)="closeDetails()"></div>
  <div class="card person-detail">
    <h2>👤 Personel Bilgileri</h2>
    <p><strong>Ad Soyad:</strong> {{ selectedPersonnel?.name }}</p>
    <p><strong>Pozisyon:</strong> {{ selectedPersonnel?.title }}</p>
    <p><strong>Email:</strong> {{ selectedPersonnel?.email }}</p>
    <button class="close-btn" (click)="closeDetails()">Kapat</button>
  </div>
</div>
